<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARP.Ejemplo.Datos.Config.Datos" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ARP.Ejemplo.Datos.Config.CodigosError" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <ARP.Ejemplo.Datos.Config.Datos>
            <setting name="DefaultCommandTimeout" serializeAs="String">
                <value>120</value>
            </setting>
        </ARP.Ejemplo.Datos.Config.Datos>
      <ARP.Ejemplo.Datos.Config.CodigosError>
            <setting name="DAL_ObtenerTabla" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DAL_EjecutarQuery" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DAL_ObtenerObjeto" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DAL_ObtenerObjetoT" serializeAs="String">
                <value>2</value>
            </setting>
        </ARP.Ejemplo.Datos.Config.CodigosError>
    </applicationSettings>
</configuration>